@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* --base-clr: #11121a; */
    --base-clr: #2b2c2f;

    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --second-text: #b0b3c1;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    /* background-color: #11121B; */
    display: grid;
    grid-template-columns: auto 1fr;
    overflow-x: hidden;
}

.nav {
    color: var(--text-clr);
}

main {
    /* padding: min(30px, 7%); */
    padding-top: 20px;
    background-color: rgb(252, 252, 252);
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 220px;
    padding: 5px;
    background-color: var(--base-clr);
    border-right: 1px solid #4c4c4e;

    position: sticky;
    top: 0;
    align-self: start;

    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar ul {
    list-style: none;

}

#sidebar>ul>li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .logo {
        font-weight: 600;
    }
}

/* set the color for sidebar */
#sidebar ul li.active a {
    color: var(--accent-clr);

    svg {
        fill: var(--accent-clr)
    }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;

}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
    flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
    background-color: var(--hover-clr);
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    >div {
        overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: -180deg;
}

#sidebar .sub-menu a {
    padding-left: 2.5em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: var(--hover-clr);
}

@media(max-width:800px) {
    body {
        grid-template-columns: 1fr;
    }

    main {
        padding: 2em 1em 60px 1em;
    }


    #sidebar {
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;

        >ul {
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            overflow-x: scroll;
        }

        ul li {
            height: 100%;
        }

        ul a,
        ul .dropdown-btn {
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }

        ul li span,
        ul li:first-child,
        .dropdown-btn svg:last-child {
            display: none;
        }

        ul li .sub-menu.show {
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background-color: var(--hover-clr);
            border-top: 1 px solid var(--line-clr);
            display: flex;
            justify-content: center;

            >div {
                overflow-x: auto;
            }

            li {
                display: inline-flex;
            }

            a {
                box-sizing: border-box;
                padding: 1em;
                width: auto;
                justify-content: center;
            }
        }

    }


}


/* main-body */

.search-palce {
    padding-bottom: 15px;
    /* border-bottom: 2px solid var(--line-clr); */
    background-color: white;
}

.input-box {
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0px 40px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    /* border-bottom: 2px solid black; */
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 500px) {
    .input-box {
        height: 66px;
        margin: 0 8px;
    }

    .input-box i {
        left: 12px;
        font-size: 25px;
    }

    .input-box input {
        padding: 0 112px 0 50px;
    }

    .input-box .button {
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;
    }
}

.image-plate {
    width: 100%;
    height: 550px;
}

.image-plate img {
    width: 100%;
    height: 100%;
}

.brand-section {
    width: 100%;
    height: 100px;
    background-color: var(--base-clr);
}

.brand-section img {
    padding-left: 5%;
    padding-top: 3%;
}


.container {
    width: 100%;
    height: 550px;
    /* display: flex; */
}

.container-intro {
    height: 80px;
    padding-top: 3%;
    padding-left: 35%;
    font-size: 40px;
    font-weight: 500;
}

.product-details {
    display: flex;
    justify-content: flex-start;
}

.template {
    width: 295px;
    height: 400px;

    :hover {
        cursor: pointer;
    }
}

.template span,
div {
    padding-left: 10px;
    font-weight: 600;
}

.view-btn button {
    height: 40px;
    width: 100px;
    border-radius: 10px;

}

.view-all {
    padding-left: 45%;

    :hover {
        cursor: pointer;
    }
}

.container-dress-style {
    padding-top: 40px;
    padding-left: 18%;
    height: 700px;
}

.container-dress-style img {
    height: 600px;
}




.footer {
    width: 100%;
    background: var(--base-clr);
    border: none;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer-col .links li a:hover {
    color: #fff;
}

.footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #ccc;
}

.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #cecccc;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #afb6c7;
}

.footer-col .icons i:hover {
    color: #fff;
}
